services:
  
  yfinance_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yfinance_app
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5678:5678"  # Debugger port
    command: python yfinance_app.py
    deploy:
      resources:
        limits:
          cpus: '8.0'      # max CPU
          memory: 30G  # Increased memory limit to 30 Gigabytes

  sliding_window_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sliding_window
    working_dir: /app
    volumes:
      - .:/app
    command: python sliding_window.py
    deploy:
      resources:
        limits:
          cpus: '8.0'      # max CPU
          memory: 30G  # Increased memory limit to 30 Gigabytes

  fastapi_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
